// InputBoxResource.rc

#include "InputBoxResource.h"

IDD_INPUT_BOX DIALOGEX 0x8000, 0x8000, 231, 54
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "Win32InputBox"
FONT 8, "MS Shell Dlg", 700, 0, 0x0
BEGIN
	LTEXT			"Prompt:", IDC_INPUT_BOX_PROMPT, 6, 4, 157, 33, SS_NOPREFIX
	EDITTEXT		IDC_INPUT_BOX_EDIT, 6, 37, 216, 14, ES_AUTOHSCROLL
	DEFPUSHBUTTON	"OK", IDOK, 171, 4, 51, 14, WS_GROUP
	PUSHBUTTON		"CANCEL", IDCANCEL, 171, 21, 51, 14, WS_GROUP
END
